
{% extends "layout.html" %}

{% block content %}

<section class="gallery-page">

    <h1 class="gallery-title">
        Our Gallery
    </h1>

    <p class="gallery-subtitle">
        Explore the beauty and luxury of Paradise Palace Hotel
    </p>

    <div class="gallery-container">

        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/hotel.jpg') }}" alt="Hotel">
            <div class="overlay-text">
                Luxury Exterior
            </div>
        </div>

        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/deluxe.jpg') }}" alt="Deluxe Room">
            <div class="overlay-text">
                Deluxe Room
            </div>
        </div>

        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/suite.jpg') }}" alt="Royal Suite">
            <div class="overlay-text">
                Royal Suite
            </div>
        </div>

        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/family.jpg') }}" alt="Family Room">
            <div class="overlay-text">
                Family Room
            </div>
        </div>

    </div>

</section>

{% endblock %}
